src/ngamsCore/ngamsData/ngamsInternal.eso.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!-- 
  E.S.O.
 
  Who        When        What
  ********   **********  ***************************************************
  jknudstr   04.04.2001  Created
  **************************************************************************
  The ngamsInternal.dtd defines various common elements to be used
  in the NG/AMS XML documents.
  -->


<!-- 
  The Ngams Element defines properties for the individual
  installation of NG/AMS. 

  Attributes:
    ArchiveName:            Name of the archive - e.g. ESO-VLT.

    PortNo:                 Port number to use for the NG/AMS HTTP server.

    SwVersion:	            If defined, NG/AMS will compare the value of
                            this attribute with the version ID of NG/AMS.
                            If these are not completely identical an error
                            is reported and the NG/AMS Server will perform
                            an exit. If the SwVersion is not specified
                            (set to ""), this check is not done.

    OnlinePlugIn:           Plug-In utility invoked by NG/AMS when
                            going Online to prepare the system and to
                            obtain the information about the current
                            disk configuration and status of the disks.

    OnlinePlugInPars:       Input parameters to the Online Plug-In.

    OfflinePlugIn:          Plug-In utility invoked by NG/AMS when
                            going Offline to prepare the system for
                            standby mode.

    OfflinePlugInPars:      Input parameters to the Online Plug-In.

    Replication:            Indicates if file replication should be 
                            carried out by this NG/AMS (0|1).

    BlockSize:              Block size applied when receiving and
                            sending data via HTTP (bytes).

    Simulation:             Simulation system "1" otherwise "0".

    MountRootDirectory:     Base directory used as root directory when
                            mounting the disks.
			     
    AllowArchiveReq:        Allow clients to issue Archive Requests
                            to the system (0|1).

    AllowRetrieveReq:       Allow clients to retrieve data from this
                            NG/AMS installation (0|1).

    AllowProcessingReq:     Allow clients to perform processing requests
                            on this NG/AMS installation (0|1).

    AllowRemoveReq:         Allow clients to carry out REMFILE and REMDISK
                            commands (0|1).

    ForceProxyMode:         If a server which is contacted with a Retrieve
                            Request, finds a file to be retrieved, on 
                            another NGAS Host, it will act as proxy and
                            send back the file to the requestor if
                            possible.

    JanitorSuspendTime:     Period of time the Janitor Thread is suspended
                            after each iteration. Should be given as
                            '<days>T<hours>:<minutes>:<seconds>'.

    BackLogBuffering:       Enable/disable Back-Log Data Buffering (0|1).

    BackLogBufferDirectory: Directory that will host the "back-log" directory
                            where data files are buffered for later handling
  -->
<!ELEMENT Ngams EMPTY>
<!ATTLIST Ngams ArchiveName            CDATA          #REQUIRED
                PortNo                 CDATA          #REQUIRED
                SwVersion              CDATA          ""
                OnlinePlugIn           CDATA          #REQUIRED
                OnlinePlugInPars       CDATA          #REQUIRED
                OfflinePlugIn          CDATA          #REQUIRED
                OfflinePlugInPars      CDATA          #REQUIRED
                LabelPrinterPlugIn     CDATA          #IMPLIED
                LabelPrinterPlugInPars CDATA          #IMPLIED
                Replication            CDATA          #IMPLIED
                BlockSize              CDATA          #REQUIRED
                Simulation             (0|1)          "0"
                MountRootDirectory     CDATA          #REQUIRED
                AllowArchiveReq        (0|1)          #REQUIRED
                AllowRetrieveReq       (0|1)          #REQUIRED
                AllowProcessingReq     (0|1)          #REQUIRED
                AllowRemoveReq         (0|1)          #REQUIRED 
                ForceProxyMode         (0|1)          #IMPLIED
                JanitorSuspendTime     CDATA          #REQUIRED
                BackLogBuffering       (0|1)          #IMPLIED
                BackLogBufferDirectory CDATA          #IMPLIED>


<!-- 
  The Db Element defines properties for the interaction 
  with the NGAS DB.

  Attributes:
    Server:    Name of DB server.

    Name:      Name of the DB to use.

    User:      The DB user name to connect as.

    Password:  The password for the DB user.
  -->
<!ELEMENT Db EMPTY>
<!ATTLIST Db Server       CDATA  #REQUIRED
             Name         CDATA  #REQUIRED
             User         CDATA  #REQUIRED
             Password     CDATA  #REQUIRED>


<!--
  The MimeTypes Element contains a mapping between the mime-types used
  by NG/AMS and the extension names of the data files.

  The element MimeTypeMap contains the mapping between each mime-type
  and the corresponding extension.

  Attributes:
    MimeType:      Mime-type, e.g. "ngas/fits".

    Extension:     Extension of data file, e.g. "fits" (without
                   leading dot).
  -->
<!ELEMENT MimeTypes (MimeTypeMap+)>
<!ELEMENT MimeTypeMap EMPTY>
<!ATTLIST MimeTypeMap   MimeType   CDATA  #REQUIRED
                        Extension  CDATA  #REQUIRED>


<!-- 
  The StorageSet Element defines properties for each 'storage unit', 
  consisting of two disks (Main Disk and Replication Disk).

  Attributes:
    StorageSetId:       ID used to refer to this particular 
                        storage unit (string).

    DiskLabel:          Name of label prefix to put on the
                        disk. Optional (string).

    MainDiskSlotId:     Slot ID for Main Disk (string).

    RepDiskSlotId:      Slot ID for Replication Disk (string).

    Mutex:              Indicates if mutual exclusion access should be 
                        enforced to the disks. If this is enabled, only 
                        one data reception session will write data to
                        that slot (disk), and not simultaneous as otherwise 
                        done if several files for the same disk is received 
                        at the same time. 1 = mutual exclusion (integer).

    Synchronize:        The synchronize flag is used to indicate if the two 
                        disks of a set should be considerd as locked
                        together so that when one is completed also
                        the other is marked as completed although it
                        may not be (integer/0|1).
  -->
<!ELEMENT StorageSet EMPTY>
<!ATTLIST StorageSet StorageSetId        CDATA  #REQUIRED
                     DiskLabel           CDATA  ""
                     MainDiskSlotId      CDATA  #REQUIRED
                     RepDiskSlotId       CDATA  #IMPLIED
                     Mutex               (0|1)  "0"
                     Synchronize         (0|1)  "1">


<!-- 
  The FileHandling Element defines properties for the file handling.

  Attributes:
    ProcessingDirectory:  Base directory in which temporary files
                          will be stored during processing.

    PathPrefix:           A prefix which will be used when building up the
                          target filename. Could e.g. be used as to build
                          a filename like:

                          <mount point>/<PathPrefix>/<add. path>/<filename>

                          - but it is up to the Data Handling Plug-In
                          to use it in a way appropriate for the context.

   ChecksumPlugIn:        DCPI - Data Checksum Plug-In, which generates the
                          checksum of a data file.

   ChecksumPlugInPars:    Input parameters to the DCPI.

   DataCheckActive:       Enable/disable Data Check Service (1 = activate).

   DataCheckPrio:         Priority of Data Check Thread (1 = highest priority).
                          with this parameter it is possible to adjust the
                          amount of CPU power the Data Check Thread should 
                          consume. The higher the number, the lesser CPU
                          the check will consume. At the same time, it
                          will take more time to carry out the check of
                          the data holding.

   DataCheckMinCycle:     Indicates the minimum allowed time for carrying out
                          one check cycle (ddThh:mm:ss). If this is specified
                          e.g. to 24 hours, and one check cycle would only
                          take 11 hours, the check would be suspended for
                          13 hours before running again.

   DataCheckDiskSeq:      Used to indicate if disks should be checked
                          sequentially (ordered according to the Slot
                          ID), or randomly (SEQUENTIAL|RANDOM).

   DataCheckFileSeq:      Used to indicate if files on a disk should be checked
                          sequentially (ordered according to the ingestion
                          date), or randomly (SEQUENTIAL|RANDOM).

   DataCheckLogSummary:   If set to 1, a summary log info will be generated
                          each time a complete check of the data holding
                          of one NGAS Host has been carried out.
  -->
<!ELEMENT FileHandling EMPTY>
<!ATTLIST FileHandling ProcessingDirectory  CDATA               #REQUIRED
                       PathPrefix           CDATA               #REQUIRED
                       ChecksumPlugIn       CDATA               #REQUIRED
                       ChecksumPlugInPars   CDATA               #REQUIRED
                       DataCheckActive      (0|1)               #REQUIRED
                       DataCheckPrio        CDATA               #REQUIRED
                       DataCheckMinCycle    CDATA               #REQUIRED
                       DataCheckDiskSeq     (SEQUENTIAL|RANDOM) #REQUIRED
                       DataCheckFileSeq     (SEQUENTIAL|RANDOM) #REQUIRED
                       DataCheckLogSummary  (0|1)               #REQUIRED>

<!-- 
  The Stream Element defines properties for the handling of data
  streams into the NGAS System.

  The StorageSetRef contains an attribute with a reference to a StorageSet.

  Attributes:
  MimeType:      Mime-type identifying this type of data.

  PlugIn:        A plug-in command that will be executed to 1) Check the
                 consistency of the data file of the given mime-type, 
                 2) Generate the necessary information for the NGAS DB.

  PlugInPars:    Parameters which will be transferred to the plug-in
                 function.
  -->
<!ELEMENT Stream (StorageSetRef+)>
<!ATTLIST Stream MimeType       CDATA  #REQUIRED
                 PlugIn         CDATA  #REQUIRED
                 PlugInPars     CDATA  #IMPLIED>
<!ELEMENT StorageSetRef EMPTY>
<!ATTLIST StorageSetRef  StorageSetId CDATA  #REQUIRED>


<!--
  The Processing Element defines the set of DPPIs that are available
  for a specific NGAS Host.

  The element contains a number of PlugIn Elements which each define
  the properties of the DPPIs. In addition the PlugIn Element defines
  which types of data can be handled.
-->
<!ELEMENT Processing (PlugIn*)>
<!ELEMENT PlugIn (MimeType+)>
<!ATTLIST PlugIn Name         CDATA  #REQUIRED
                 PlugInPars   CDATA  #IMPLIED>
<!ELEMENT MimeType  EMPTY>
<!ATTLIST MimeType  Name      CDATA  #REQUIRED>


<!--
  The Register Element defines the of DRPIs needed for registering
  various file types.
-->
<!ELEMENT Register (PlugIn*)>


<!-- 
  The Monitor Element defines properties for ingestion/handling 
  of data files.

  Attributes:
    MinFreeSpaceWarning:    Indicates the free disk space limit before issuing
                            an Warning Log Message (MB).

    FreeSpaceDiskChangeMb:  Indicates the free disk space limit before 
                            changing disk (MB).
  -->
<!ELEMENT Monitor EMPTY>
<!ATTLIST Monitor MinFreeSpaceWarningMb  CDATA #REQUIRED 
                  FreeSpaceDiskChangeMb  CDATA #REQUIRED>


<!-- 
  The Log Element defines properties for the logging performed by
  the NG/AMS Server.

  Attributes:
    SysLog:         Switch on UNIX syslog logging (0|1).

    SysLogPrefix:   Prefix (tag) written first in the syslog entries
                    (in the data part).

    LocLogFile:     Indicates a name of a local log file. Should be
                    complete path.
 
    LocalLogLevel:  Log level for producing logs into the local 
                    log file. Must be in the interval from 0 to 5. 

    LogBufferSize:  Size of the internal log buffer (in terms of log
                    entries). This indicates how many entries are buffered
                    before the logs are purged out to the log file.
  -->
<!ELEMENT Log EMPTY>
<!ATTLIST Log SysLog          (0|1)         #REQUIRED
              SysLogPrefix    CDATA         #REQUIRED
              LocalLogFile    CDATA         #REQUIRED
              LocalLogLevel   (0|1|2|3|4|5) #REQUIRED
              LogBufferSize   CDATA         #REQUIRED>


<!-- 
  The Notification Element is used to define subscribers (e-mail
  recipients) that will receive an e-mail when certain events
  occur. For the moment the following events can trigger e-mails
  to one or more recipients:

    o Alert Logs.
    o Error Logs.
    o Disk Running Full (Min. Free Disk Space).
    o Disk Change (Disk Change Log).
    o No more disk space.
  -->
<!ELEMENT Notification (AlertNotification?, ErrorNotification?,
                        DiskSpaceNotification?, DiskChangeNotification?,
                        NoDiskSpaceNotification?,
                        DataErrorNotification?)>
<!ATTLIST Notification  SmtpHost   CDATA  #REQUIRED
                        Active     (0|1)  #REQUIRED>
<!ELEMENT EmailRecipient EMPTY>
<!ATTLIST EmailRecipient Address   CDATA  #REQUIRED>
<!ELEMENT AlertNotification (EmailRecipient+)>
<!ELEMENT ErrorNotification (EmailRecipient+)>
<!ELEMENT DiskSpaceNotification (EmailRecipient+)>
<!ELEMENT DiskChangeNotification (EmailRecipient+)>
<!ELEMENT NoDiskSpaceNotification (EmailRecipient+)>
<!ELEMENT DataErrorNotification (EmailRecipient+)>


<!-- 
  The Host Suspension Element is used to define the conditions for
  suspending an NGAS Host and for waking up a suspended NGAS Host.

  Attributes:
      IdleSuspension:      Switches on/off host idle suspension (0 = Off,
                           1 = 0n).

      IdleSuspensionTime:  The idle time that must elapse for an  NGAS
                           system to suspending itself given in seconds.

      WakeUpServerHost:    Name of server that should be requested to
                           wake up a suspended NGAS Host.

      SuspensionPlugIn:    Name of plug-in to be invoked to suspend the
                           NGAS Host.

      WakeUpPlugIn:        Name of plug-in to be invoked to wake-up a
                           suspended NGAS Host.

      WakeUpCallTimeOut:   Time-out for waiting for an NGAS Host being
                           woken to wake up.
  -->
<!ELEMENT HostSuspension EMPTY>
<!ATTLIST HostSuspension  IdleSuspension       (0|1)  "0"
                          IdleSuspensionTime   CDATA  "0"
                          WakeUpServerHost     CDATA  ""
                          SuspensionPlugIn     CDATA  ""
                          WakeUpPlugIn         CDATA  ""
                          WakeUpCallTimeOut    CDATA  "0">


<!-- 
  The SubscriptionDef Element is used to define the properties for
  Data Subscription. It may contain a number of Subscription Elements
  indicating to which server this NG/AMS should subscribe to.

  Attributes:
      AutoUnsubscribe:    Indicates if the server should un-subscribe
                          automatically when going Offline.

      SuspensionTime:     Time the thread should suspend itself between 
                          attempting to deliver back-logged buffered
                          files (ISO8601).

      BackLogExpTime:     Expiration time for entries in the
                          Subscription Back-Log (string/ISO8601).
  -->
<!ELEMENT SubscriptionDef (Subscription*)>
<!ATTLIST SubscriptionDef AutoUnsubscribe   (0|1)  "1"
                          SuspensionTime    CDATA  #REQUIRED
                          BackLogExpTime    CDATA  #REQUIRED
                          Enable            (0|1)  "1">


<!-- 
  The Subscription Element define a data subscription. It will trigger
  the NG/AMS Server to subscribe itself to data from another NG/AMS Server.

  Attributes:
      HostId:             Host ID of the Data Provider.

      PortNo:             Port number used by the Data Provider.

      Priority:           Priority requested for this Subscription.
                          The lower the number the higher the priority.
                          Default is 10. If other Subscribers subscribe
                          with a higher priority then this client, they
                          will be served faster.

      SubscriberUrl:      Subscriber URL, which is issued when subscribing.
                          The Data Provider will use this URL when delivering
                          the data to the Subscriber.

      FilterPlugIn:       A Filter Plug-In applied on the data files to
                          decide whether to deliver a file to a Subscriber
                          or not.

      FilterPlugInPars:   Parameters to issue to the Filter Plug-In.
  -->
<!ELEMENT Subscription    EMPTY>
<!ATTLIST Subscription    HostId            CDATA  #REQUIRED
                          PortNo            CDATA  #REQUIRED
                          Priority          CDATA  "10"
                          SubscriberUrl     CDATA  #REQUIRED
                          FilterPlugIn      CDATA  #IMPLIED
                          FilterPlugInPars  CDATA  #IMPLIED>

<!-- oOo -->
